<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>ndmanufactureimgs</name>
            <displayName><![CDATA[Fabricantes por Imagem]]></displayName>
            <version><![CDATA[1]]></version>
            <description><![CDATA[[neuber designs] Exibe a lista de fabricantes com imagens dos fabricantes]]></description>
            <author><![CDATA[Neuber Designs]]></author>
            <tab><![CDATA[front_office_features]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>0</need_instance>
	<limited_countries></limited_countries>
        </module>